# Python basics

Python is a dynamic and strongly-typed language. Here are some sorting algorithm implementations:

In [1]:
data = [64, 1, 5, 7, 4, 3, 2, 1, 9, 0, 10, 43]

In [53]:
print(data)

[64, 1, 5, 7, 4, 3, 2, 1, 9, 0, 10, 43]

In [3]:
def bubble_sort(seq):
    
    seq = seq.copy()
        
    n = len(seq)
    for i in range(n):
        for j in range(1, n - i):
            if seq[j] < seq[j - 1]:
                seq[j - 1], seq[j] = seq[j], seq[j - 1]

    return seq

In [52]:
bubble_sort(data)

[0, 1, 1, 2, 3, 4, 5, 7, 9, 10, 43, 64]

In [5]:
def merge_sort(seq):
    
    seq = seq.copy()
    
    def merge(left, right):
        
        seq = []
        left_idx, right_idx = 0, 0

        while left_idx < len(left) and right_idx < len(right):
            if left[left_idx] <= right[right_idx]:
                seq.append(left[left_idx])
                left_idx += 1
            else:
                seq.append(right[right_idx])
                right_idx += 1

        for i in range(left_idx, len(left)):
            seq.append(left[i])

        for i in range(right_idx, len(right)):
            seq.append(right[i])

        return seq
    
    if len(seq) <= 1:
        return seq
    
    mid = len(seq) // 2
    left, right = merge_sort(seq[mid:]), merge_sort(seq[:mid])

    return merge(left, right)

In [51]:
merge_sort(data)

[0, 1, 1, 2, 3, 4, 5, 7, 9, 10, 43, 64]

In [7]:
def quick_sort(seq):
    
    seq = seq.copy()
    
    if len(seq) <= 1:
        return seq
    
    pivot = seq[len(seq) // 2]
    left = [x for x in seq if x < pivot]
    middle = [x for x in seq if x == pivot]
    right = [x for x in seq if x > pivot]
    
    return quick_sort(left) + middle + quick_sort(right)

In [50]:
quick_sort(data)

[0, 1, 1, 2, 3, 4, 5, 7, 9, 10, 43, 64]

## Python version

In [9]:
import platform

print(platform.python_version())

3.6.1

## Data types

### Numbers

In [10]:
x = 42

In [11]:
type(x)

int

In [12]:
x

42

In [13]:
x + 1

43

In [14]:
x - 1

41

In [15]:
x * 2

84

In [16]:
x ** 2

1764

In [17]:
x += 1
x

43

In [18]:
x *= 2
x

86

In [19]:
y = 42.0

In [20]:
type(y)

float

In [21]:
print(y, y + 1, y * 2, y ** 2)

42.0 43.0 84.0 1764.0

### Booleans

In [28]:
t = True
f = False

In [29]:
type(t)

bool

In [30]:
t and f

False

In [31]:
t or f

True

In [32]:
not t

False

In [27]:
t != f

True

### Strings

In [54]:
text = "Hello"

In [55]:
print(text)

Hello

In [56]:
len(text)

5

In [60]:
text + ", FMI!"

'Hello, FMI!'

In [62]:
x = 42

f"Hello {x}"

'Hello 42'

In [64]:
text.upper()

'HELLO'

## Collections

### Lists

In [66]:
xs = [42, 12, 36]

In [88]:
len(xs)

4

In [67]:
xs[0]

42

In [69]:
xs[-1]

36

In [70]:
xs.append(1)

In [71]:
xs

[42, 12, 36, 1]

In [81]:
xs[1:3]

[12, 36]

In [82]:
xs[:-1]

[42, 12, 36]

In [83]:
for x in xs:
    print(x)

42
12
36
1

In [84]:
for idx, x in enumerate(xs):
    print(f"{idx}: {x}")

0: 42
1: 12
2: 36
3: 1

In [85]:
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]
squares

[0, 1, 4, 9, 16]

### Dictionaries / maps

In [86]:
fruit = dict(banana=10, apple=5, strawberry=3)

In [87]:
len(fruit)

3

In [89]:
fruit["banana"]

10

In [90]:
fruit["blueberry"] = 25

In [91]:
fruit

{'apple': 5, 'banana': 10, 'blueberry': 25, 'strawberry': 3}

In [95]:
for item, qty in fruit.items():
    print(f"{qty} of {item}")

10 of banana
5 of apple
3 of strawberry
25 of blueberry

In [100]:
xs = [0, 1, 2, 3, 4]
nums = {x: x ** 2 for x in xs}

nums

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

### Sets

In [101]:
fruits = {"banana", "apple"}

In [103]:
fruits

{'apple', 'banana'}

In [102]:
len(fruits)

2

In [104]:
fruits.add("strawberry")

In [105]:
fruits

{'apple', 'banana', 'strawberry'}

In [106]:
for f in fruits:
    print(f)

strawberry
banana
apple

In [107]:
xs = [0, 1, 2, 3, 4]
nums = {x ** 2 for x in xs}

In [108]:
nums

{0, 1, 4, 9, 16}

## Type system

In [43]:
x = "hello"

In [44]:
type(x)

str

In [45]:
x + " " + "world"

'hello world'

In [47]:
x = 42

In [48]:
type(x)

int

In [ ]:
x += "world"

## Functions

In [109]:
def speak(text, shout=False):
    if(shout):
        print(text.upper())
    else:
        print(text)

In [110]:
speak("Hello")

Hello

In [111]:
speak("Hello", shout=True)

HELLO

### Exercise

Write a program which can compute the factorial of a given numbers. The results should be printed in a comma-separated sequence on a single line. Suppose the following input is supplied to the program:

> 8

Then, the output should be:

> 40320

In [ ]:
x = 8
fact(x)

## Classes

In [112]:
class Announcer:
    
    def __init__(self, text):
        self.text = text
        
    def speak(self, shout=False):
        if(shout):
            print(self.text.upper())
        else:
            print(self.text)

In [113]:
a = Announcer("Hello")

In [114]:
a.speak()

Hello

In [115]:
a.speak(shout=True)

HELLO

### Exercise

Define a class named Circle that can be constructed by a radius. The Circle class has a method which can compute its area.

In [ ]:
c = Circle(2)
print(c.area())